body {
  font-family: Arial;
  margin: 0;
  /*background-color: #f5f5f5;*/
}

h2 {
  cursor: pointer;
  background: #8b0000;
  color: white;
  padding: 10px;
}

h3 {
  cursor: pointer;
  background: #ddd;
  padding: 8px;
}

ul {
  background: white;
  margin: 0;
  padding: 10px;
}

.main-background {
  background-image: url('./assets/images/background.jpg');
  background-size: cover;        /* 滿版 */
  background-position: center;   /* 置中 */
  background-repeat: no-repeat;  /* 不重複 */
  height: 100vh;                 /* 滿整個畫面 */
  width: 100%;
}
